#title {
  background-color: #ff4c68;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  size: 4rem;
  line-height: 1.5;
  color: White;
  padding: 50px 0 30px;
  font-weight: bolder;
}


h2 {
  font-family: "Montserrat-Bold";
  font-size: 5rem;
  line-height: 1.5;
  font-weight: bolder;
}

h3 {
  font-size: 1.5rem;
  font-family: "Montserrat-Bold";
  font-weight: bolder;
}



.Container-fluid {
  padding: 3% 15% 7%;
  ;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 5.5rem;
  padding-left: 0;
}

.navnar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bolder;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.3rem;
}

.Download-button {
  margin: 5% 3% 5% 0;
}

.smartphone {
  width: 60%;
  transform: rotate(25deg);
  padding: 20px;
  position: absolute;
  right: 30%;
  top: 10%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.fa-icon {
  color: #ef8172;
  margin-bottom: 2rem:
}

.fa-icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {

  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-image {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
    padding: 10% 15%;
}

.Dog-img {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;

}

.pricing-column {
  padding: 3% 2%;
}


 /* CALL TO ACTION */

#cta{
background-color: #ff4c68;
padding: 5% 10%;
text-align: center;
}

.cta-h3{
  font-family: "Montserrat-Black";
  text-align: center;
  font-size: 5rem ;
  font-weight: bolder;
  color: #fff;
}


/* Footer */

#footer{
  background-color: #fff;
  text-align: center;
  height: 200px;
  width: 100%;
  padding: 7% 13%;
}

.footer-icon{
  padding: 5% 3% 2%;
}

.cr{
  font-size: 1rem;
  padding-bottom: 10px;
}


@media (max-width:993px) {
  .smartphone {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
